In [87]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [150]:
## loading dataset
file_url = "http://18.163.158.193/hko/data.csv"
dataset_fp = tf.keras.utils.get_file(fname='hko.csv',origin=file_url)
## columns name of the dataset
feature_names = [
    'temperature',
    'humidity',
    'pressure',
    'wind_speed',
    'wind_direction'
]

label_name = 'rainfall'
column_names = feature_names + [label_name]

print(f"Features: {feature_names}")
print(f"Label: {label_name}")
print(f"column_names: {column_names}")

Features: ['temperature', 'humidity', 'pressure', 'wind_speed', 'wind_direction']
Label: rainfall
column_names: ['temperature', 'humidity', 'pressure', 'wind_speed', 'wind_direction', 'rainfall']

In [164]:
# convert file to df
data_df = pd.read_csv(
    dataset_fp,
    skiprows=1,
    usecols=[2,3,4,5,6,7],
    names=column_names
)

# data_df['wind_speed'].apply(lambda x: isinstance(x, (str)) and x.isdigit())
# data_df['wind_direction'].apply(lambda x: isinstance(x, (str)) and x.isdigit())

0        True
1        True
2        True
3        True
4        True
         ...
11561    True
11562    True
11563    True
11564    True
11565    True
Name: wind_direction, Length: 11566, dtype: bool

In [166]:
data_df

       temperature  humidity  pressure wind_speed wind_direction  rainfall
0             29.5        77    1004.8        6.4            180     0.025
1             29.3        79    1004.8        7.4            180     1.200
2             29.6        78    1004.0        8.5            230     0.600
3             29.5        80    1003.4         11            220     0.900
4             29.4        80    1004.8       14.5            220     1.800
...            ...       ...       ...        ...            ...       ...
11561         17.1        71    1020.7        6.2            280     0.000
11562         18.2        76    1021.1        7.8            110     0.025
11563         17.6        73    1020.9        8.8            100     0.025
11564         18.3        85    1018.0       12.4            100     0.025
11565         18.7        85    1017.6        9.4            110     0.025

[11566 rows x 6 columns]

In [95]:
# Explore the dataset
print(data_df.head())
# print(data_df.describe())

   temperature  humidity  pressure wind_speed wind_direction  rainfall
0         29.5        77    1004.8        6.4            180     0.025
1         29.3        79    1004.8        7.4            180     1.200
2         29.6        78    1004.0        8.5            230     0.600
3         29.5        80    1003.4         11            220     0.900
4         29.4        80    1004.8       14.5            220     1.800

In [101]:
# Prepare the data
X = data_df[['temperature', 'humidity', 'pressure', 'wind_speed', 'wind_direction']]
y = data_df['rainfall']

0        0.025
1        1.200
2        0.600
3        0.900
4        1.800
         ...
11561    0.000
11562    0.025
11563    0.025
11564    0.025
11565    0.025
Name: rainfall, Length: 11566, dtype: float64

In [102]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [105]:
X_train

       temperature  humidity  pressure wind_speed wind_direction
6723          20.1        73    1017.7       12.9            100
431           28.8        79    1011.3        8.5            120
6909          27.9        73    1006.6        6.5            270
1780          28.9        77    1007.8       11.4            240
5399          22.3        71    1014.7        3.1            280
...            ...       ...       ...        ...            ...
11284         24.9        88    1010.5       13.7            100
5191          26.6        64    1009.6        7.6             20
5390          14.0        88    1021.8        8.9             20
860           22.2        67    1021.7       11.4            120
7270          26.9        90    1007.4       11.7            100

[9252 rows x 5 columns]

In [106]:
y_train

6723      0.0
431       0.0
6909      0.0
1780     11.8
5399      0.0
         ...
11284    14.5
5191      0.0
5390      8.9
860       0.0
7270      5.8
Name: rainfall, Length: 9252, dtype: float64

In [107]:
# Create and train the Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

ValueError: could not convert string to float: '***'

In [ ]:

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-squared:", r2)

# Use the model to make a prediction
new_data = np.array([[25, 60, 10]])
rainfall_prediction = model.predict(new_data)
print("Predicted rainfall:", rainfall_prediction[0])